			.contain {
			    margin-top: 51px;
			}

			.aside {
			    position: fixed;
			    top: 51px;
			    left: 0;
			    overflow-y: auto;
			    overflow-x: hidden;
			    padding-left: 0;
			    padding-right: 0;
			    padding-top: 15px;
			    height: 100%;
			    background-color: #eee;
			}

			.panel-group .panel {
			    border-radius: 0;
			}

			.panel-heading {
			    border-top-left-radius: 0;
			    border-top-right-radius: 0;
			}

			.panel-body {
			    padding: 0
			}

			.list-group>.list-group-item:hover {
			    background-color: #ddd;
			    cursor: pointer;
			}

			.list-group>.list-group-item.on{
				background-color: #ddd;
			}

			.list-group>.list-group-item:first-child {
			    border-top-left-radius: 0;
			    border-top-right-radius: 0;
			}

			.list-group>.list-group-item:last-child {
			    border-bottom-left-radius: 0;
			    border-bottom-right-radius: 0;
			}

			.h {
			    border-bottom: 1px solid #aaa;
			}

			.link-aside:hover{
				text-decoration: none;
			}

			.link-aside:link{
				text-decoration: none;
			}