<div class="col-md-10 col-md-offset-2">
    <h1 class="h">Dashboard</h1>
    <div class="row">
        <div class="col-md-3" ng-repeat="item in data">
            <img class="img-responsive img-circle" ng-src="{{item.imgurl}}" />
            <p class="text-center">Label</p>
            <p class="text-center">副标题</p>
        </div>
    </div>
    <h2 class="h">Section Title</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A1</td>
                            <td>B1</td>
                            <td>C1</td>
                            <td>D1</td>
                            <td>E1</td>
                        </tr>
                        <tr>
                            <td>A2</td>
                            <td>B2</td>
                            <td>C2</td>
                            <td>D2</td>
                            <td>E2</td>
                        </tr>
                        <tr>
                            <td>A3</td>
                            <td>B3</td>
                            <td>C3</td>
                            <td>D3</td>
                            <td>E3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>